[submodule "agent"]
	path = agent
	url = https://github.com/Jeb0615/agent.git
[submodule "graph"]
	path = graph
	url = https://github.com/Jeb0615/graph.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/Jeb0615/dashboard.git
[submodule "links"]
	path = links
	url = https://github.com/Jeb0615/links.git
[submodule "alarm"]
	path = alarm
	url = https://github.com/Jeb0615/alarm.git
[submodule "sender"]
	path = sender
	url = https://github.com/Jeb0615/sender.git
[submodule "judge"]
	path = judge
	url = https://github.com/Jeb0615/judge.git
[submodule "hbs"]
	path = hbs
	url = https://github.com/Jeb0615/hbs.git
[submodule "portal"]
	path = portal
	url = https://github.com/Jeb0615/portal.git
[submodule "query"]
	path = query
	url = https://github.com/Jeb0615/query.git
[submodule "transfer"]
	path = transfer
	url = https://github.com/Jeb0615/transfer.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/Jeb0615/scripts.git
[submodule "common"]
	path = common
	url = https://github.com/Jeb0615/common.git
[submodule "task"]
	path = task
	url = https://github.com/Jeb0615/task.git
[submodule "fe"]
	path = fe
	url = https://github.com/Jeb0615/fe.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/Jeb0615/gateway.git
